*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}
a{
    text-decoration: none;
}
a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}
/*END OF CSS RESET*/
body{
    background-color: #f7e4d4;
}
#root{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 48px;
    color: #467745; 
    text-align: center;  
}

input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #467745;
    background-color: white;

    width: 480px;
    height: 64px;

    display: flex;
    margin: 20px;
    padding: 20px;

}
.input2{
    height: 120px;
    padding-bottom: 75px;
}

.checkbox{
    display: flex;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-left: 20px;
}
label{
    color: #467745;
    margin-top: 10px;
}

button{
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 21px;
    text-transform: uppercase;
    color: #f7e4d4;
    background-color: #467745;
    border-radius: 50px;
    letter-spacing: 0.2em;

    width: 280px;
    height: 80px;

    margin: 26px;
    position:relative;
    left:50%;
    transform: translate(-60%, 0%);
}

@media only screen and (max-width: 520px) {
    
    h1 {
      font-size: 36px;
      text-align: left;
      margin-left: 20px;
    }
    
    input[type="text"]{
        width: calc(100% - 40px);
        margin-left: 20px;
    }
    
  }